In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('D://DS//titanic.csv',usecols=['sex'])
df.head()

      sex
0  female
1    male
2  female
3    male
4  female

### One Hot Encoding

In [10]:
pd.get_dummies(df).head()

   sex_female  sex_male
0           1         0
1           0         1
2           1         0
3           0         1
4           1         0

In [9]:
pd.get_dummies(df,drop_first=True).head()

   sex_male
0         0
1         1
2         0
3         1
4         0

In [12]:
df = pd.read_csv('D://DS//titanic.csv',usecols=['embarked'])
df['embarked'].unique()

array(['S', 'C', nan, 'Q'], dtype=object)

In [13]:
df.dropna(inplace=True)

In [15]:
pd.get_dummies(df,drop_first=True).head()

   embarked_Q  embarked_S
0           0           1
1           0           1
2           0           1
3           0           1
4           0           1

* lst_10 = df.X1.value_counts().sort_values(ascending=False).head(10)
* lst_10 = list(lst_10)

for categories in last_10:
    df[categories]=np.where(df['X1'] == categories,1,0)